
            @font-face {font-family: 'HuntingtonChatMuliBook';
            src: url("https://www.huntington.com/Presentation/fonts/muli-v11-latin-300.woff2") format("woff2");
            font-weight: 300;}
        
            @font-face {font-family: 'HuntingtonChatMuliRegular';
            src: url("https://www.huntington.com/Presentation/fonts/muli-v11-latin-regular.woff2") format("woff2");
            font-weight: 400;}
        
            @font-face {font-family: 'HuntingtonChatMuliSemiBold';
            src: url("https://www.huntington.com/Presentation/fonts/muli-v11-latin-600.woff2") format("woff2");
            font-weight: 600;}
        
            @font-face {font-family: 'HuntingtonChatMuliBold';
            src: url("https://www.huntington.com/Presentation/fonts/muli-v11-latin-700.woff2") format("woff2");
            font-weight: 700;}
        

/* ==================== INLINE STYLE BLOCK ==================== */



/* ==================== INLINE STYLE BLOCK ==================== */


	.st0-31e64bb9bc264a4891306bb0b7724f22{fill:#3A3A3A;}
