.gcloudignore
.dockerignore
.git
.gitignore
.env
.env.*
!example.env
__pycache__/
*.pyc
*.json
!package*.json
!package-lock.json
!components.json
!tsconfig*.json
!frontend/**/*.json
node_modules/
frontend/node_modules/
.venv/
dist/
frontend/dist/
build/
/assets/
/docs/
*.md
