.gcloudignore
.dockerignore
.git
.gitignore
.env
.env.*
!example.env
!.env.example
__pycache__/
*.pyc
*.json
!package*.json
!package-lock.json
!components.json
!tsconfig*.json
!frontend/**/*.json
node_modules/
frontend/node_modules/
.venv/
dist/
frontend/dist/
build/
/assets/
/docs/
*.md
scratch/
tests/
.pytest_cache/
*.pdf
!frontend/public/*.pdf
docs/
*.png
!frontend/public/*.png
pytest.ini
